<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Mandiriclickpay>
      <version>0.1.0</version>
    </Veritrans_Mandiriclickpay>
  </modules>
  <global>
    <models>
      <mandiriclickpay>
        <class>Veritrans_Mandiriclickpay_Model</class>
      </mandiriclickpay>
    </models>
    <helpers>
      <mandiriclickpay>
        <class>Veritrans_Mandiriclickpay_Helper</class>
      </mandiriclickpay>
    </helpers>
    <blocks>
      <mandiriclickpay>
        <class>Veritrans_Mandiriclickpay_Block</class>
      </mandiriclickpay>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <mandiriclickpay>
            <file>veritrans.xml</file>
          </mandiriclickpay>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <mandiriclickpay>
        <model>mandiriclickpay/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>Mandiri Clickpay</title>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </mandiriclickpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <mandiriclickpay>
        <use>standard</use>
        <args>
          <module>Veritrans_Mandiriclickpay</module>
          <frontName>mandiriclickpay</frontName>
        </args>
      </mandiriclickpay>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_mandiriclickpay>
          <file>veritrans.xml</file>
        </veritrans_mandiriclickpay>
      </updates>
    </layout>
  </adminhtml>
</config>
