<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Cimbclicks>
      <version>0.1.0</version>
    </Veritrans_Cimbclicks>
  </modules>
  <global>
    <models>
      <cimbclicks>
        <class>Veritrans_Cimbclicks_Model</class>
      </cimbclicks>
    </models>
    <helpers>
      <cimbclicks>
        <class>Veritrans_Cimbclicks_Helper</class>
      </cimbclicks>
    </helpers>
    <blocks>
      <cimbclicks>
        <class>Veritrans_Cimbclicks_Block</class>
      </cimbclicks>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <cimbclicks>
            <file>veritrans.xml</file>
          </cimbclicks>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <cimbclicks>
        <model>cimbclicks/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Cimb Clicks</title>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </cimbclicks>
    </payment>
  </default>
  <frontend>
    <routers>
      <cimbclicks>
        <use>standard</use>
        <args>
          <module>Veritrans_Cimbclicks</module>
          <frontName>cimbclicks</frontName>
        </args>
      </cimbclicks>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_cimbclicks>
          <file>veritrans.xml</file>
        </veritrans_cimbclicks>
      </updates>
    </layout>
  </adminhtml>
</config>
