<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtDirect>
      <version>0.1.0</version>
    </Veritrans_VtDirect>
  </modules>
  <global>
    <models>
      <vtdirect>
        <class>Veritrans_Vtdirect_Model</class>
      </vtdirect>
    </models>
    <helpers>
      <vtdirect>
        <class>Veritrans_Vtdirect_Helper</class>
      </vtdirect>
    </helpers>
    <blocks>
      <vtdirect>
        <class>Veritrans_Vtdirect_Block</class>
      </vtdirect>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtdirect>
            <file>veritrans.xml</file>
          </vtdirect>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtdirect>
        <model>vtdirect/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>Credit Card</title>
        <payment_action>sale</payment_action>
        <conversion_rate>12000</conversion_rate>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
        <test_card>4811111111111114</test_card>
        <test_month>12</test_month>
        <test_year>2020</test_year>
        <test_cvv>123</test_cvv>
        <bank>bni</bank>
      </vtdirect>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtdirect>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtdirect</module>
          <frontName>vtdirect</frontName>
        </args>
      </vtdirect>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtdirect>
          <file>veritrans.xml</file>
        </veritrans_vtdirect>
      </updates>
    </layout>
  </adminhtml>
</config>
