<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Bcava>
      <version>0.1.0</version>
    </Veritrans_Bcava>
  </modules>
  <global>
    <models>
      <bcava>
        <class>Veritrans_Bcava_Model</class>
      </bcava>
    </models>
    <helpers>
      <bcava>
        <class>Veritrans_Bcava_Helper</class>
      </bcava>
    </helpers>
    <blocks>
      <bcava>
        <class>Veritrans_Bcava_Block</class>
      </bcava>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <bcava>
            <file>veritrans.xml</file>
          </bcava>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <bcava>
        <model>bcava/standard</model>
        <active>0</active>
        <title>BCA Virtual Account</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </bcava>
    </payment>
  </default>
  <frontend>
    <routers>
      <bcava>
        <use>standard</use>
        <args>
          <module>Veritrans_Bcava</module>
          <frontName>bcava</frontName>
        </args>
      </bcava>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_bcava>
          <file>veritrans.xml</file>
        </veritrans_bcava>
      </updates>
    </layout>
  </adminhtml>
</config>
