<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Bcaklikpay>
      <version>0.1.0</version>
    </Veritrans_Bcaklikpay>
  </modules>
  <global>
    <models>
      <bcaklikpay>
        <class>Veritrans_Bcaklikpay_Model</class>
      </bcaklikpay>
    </models>
    <helpers>
      <bcaklikpay>
        <class>Veritrans_Bcaklikpay_Helper</class>
      </bcaklikpay>
    </helpers>
    <blocks>
      <bcaklikpay>
        <class>Veritrans_Bcaklikpay_Block</class>
      </bcaklikpay>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <bcaklikpay>
            <file>veritrans.xml</file>
          </bcaklikpay>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <bcaklikpay>
        <model>bcaklikpay/standard</model>
        <active>0</active>
        <title>BCA Klikpay</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <environment>sandbox</environment>
      </bcaklikpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <bcaklikpay>
        <use>standard</use>
        <args>
          <module>Veritrans_Bcaklikpay</module>
          <frontName>bcaklikpay</frontName>
        </args>
      </bcaklikpay>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_bcaklikpay>
          <file>veritrans.xml</file>
        </veritrans_bcaklikpay>
      </updates>
    </layout>
  </adminhtml>
</config>
