<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Permatava>
      <version>0.1.0</version>
    </Veritrans_Permatava>
  </modules>
  <global>
    <models>
      <permatava>
        <class>Veritrans_Permatava_Model</class>
      </permatava>
    </models>
    <helpers>
      <permatava>
        <class>Veritrans_Permatava_Helper</class>
      </permatava>
    </helpers>
    <blocks>
      <permatava>
        <class>Veritrans_Permatava_Block</class>
      </permatava>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <permatava>
            <file>veritrans.xml</file>
          </permatava>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <permatava>
        <model>permatava/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>Bank Transfer</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </permatava>
    </payment>
  </default>
  <frontend>
    <routers>
      <permatava>
        <use>standard</use>
        <args>
          <module>Veritrans_Permatava</module>
          <frontName>permatava</frontName>
        </args>
      </permatava>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_permatava>
          <file>veritrans.xml</file>
        </veritrans_permatava>
      </updates>
    </layout>
  </adminhtml>
</config>
