<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Mandiribill>
      <version>0.1.0</version>
    </Veritrans_Mandiribill>
  </modules>
  <global>
    <models>
      <mandiribill>
        <class>Veritrans_Mandiribill_Model</class>
      </mandiribill>
    </models>
    <helpers>
      <mandiribill>
        <class>Veritrans_Mandiribill_Helper</class>
      </mandiribill>
    </helpers>
    <blocks>
      <mandiribill>
        <class>Veritrans_Mandiribill_Block</class>
      </mandiribill>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <mandiribill>
            <file>veritrans.xml</file>
          </mandiribill>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <mandiribill>
        <model>mandiribill/standard</model>
        <active>0</active>
        <order_status>pending</order_status>
        <title>Mandiri Bill</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </mandiribill>
    </payment>
  </default>
  <frontend>
    <routers>
      <mandiribill>
        <use>standard</use>
        <args>
          <module>Veritrans_Mandiribill</module>
          <frontName>mandiribill</frontName>
        </args>
      </mandiribill>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_mandiribill>
          <file>veritrans.xml</file>
        </veritrans_mandiribill>
      </updates>
    </layout>
  </adminhtml>
</config>
